# Ignore the contents of the data directory (the large files)
data/

# track the DVC meta-files (.dvc) and DVC's internal .gitignore
!data/**/*.dvc
!data/.gitignore

*.csv
*.h5
*.keras
venv
__pycache__/
*.py[cod]
*$py.class
.aider*
.env
